<div>
    <a href="" smooth-scroll data-scrollTarget="#faq" data-scrollText="View Spotifys data definitions" class="faqLink"></a>
</div>

<div class="tabs" id="tabs">
    <ul>
        <!--<li><a id="showTracks">Mine Top 50 Tracks</a></li>-->
        <li><a href="#top50" ng-click="menu('showtop50')" id="showtop50">My Top 50 Tracks and Artists</a></li>
        <li><a href="#playlists" ng-click="menu('showplaylists')" id="showplaylists">My Playlists</a></li>
        <li><a href="#search" ng-click="menu('showsearch')" id="showsearch">Search</a></li>
    </ul>
</div>

<div ng-view></div>

<div ng-include="'js/faq.html'"></div>

<div id="loginModal" class="dataModal">
    <p>Your 1 hour Spotify login ticket has expired!</p>
    <p><a href="" onclick="location.reload()">Reload page</a> and press the login button to continue</p>
    <p>or <a href="?logout=true">log out</a> to leave... thank you for visiting :-)</p>
</div>

<div id="spinner">
    <div class="closeSpinner" onclick="$('#spinner,#overlay').hide()">&times;</div>
    <div id="spinnerText">Loading...</div>
</div>
<div id="overlay" ng-click="closeModal()"></div>