<div id="content">
    <form id="timerangeForm" action="/spotify/index.php" method="get" style="display: block;">
        <label>
			<input ng-model="top50type" ng-click="callGetSpotifyData('toptracks',range)" value="toptracks"type="radio"/>Tracks
		</label>
        <label>
			<input ng-model="top50type" ng-click="callGetSpotifyData('topartists',range)" value="topartists "type="radio"/>Artists
		</label>
        <select class="timerangeSelect" ng-change="callGetSpotifyData(top50type,range)" ng-model="range" name="timerange">
			<option value="short_term">Last 4 weeks</option>
			<option value="medium_term">Last 6 months</option>
			<option  value="long_term">Last couple of years</option>
		</select>
    </form>

    <h2>Top 50 {{top50type.substring(3)}} {{ range | rangeFilter }}</h2>

    <table ng-if="top50type == 'topartists'">
        <thead>
            <th ng-click="callSortBy('staticIndex')">No</th>
            <th ng-click="callSortBy('name')">Artist</th>
            <th ng-click="callSortBy('followers.total')">Followers</th>
            <th ng-click="callSortBy('popularity')">Popularity</th>
            <th ng-click="callSortBy('genres')">Genres</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in topartists | orderBy:propertyName:reverse">
                <td>{{ item.staticIndex + 1 }}</td>
                <td class='artistName' ng-click="showArtistModal(item.id)"><a>{{ item.name }}</a></td>
                <td>{{ item.followers.total }}</td>
                <td>{{ item.popularity }}</td>
                <td class="genreColumn"><span ng-repeat="item in item.genres" class="genreTag">{{ item }}<span ng-if="!$last">,</span></span>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Artist modal -->
    <div id="artistModal" class="dataModal">
        <div class="hidePopUp" ng-click="closeModal()">×</div>
        <h2>{{ artistsdata.name }}</h2>

        <div class="image"><img src="{{ artistsdata.images[1].url}} " alt="artist photo" /></div>

        <table ng-class="{'show' : toggleData}">
            <thead>
                <tr>
                    <th colspan="2">{{ artistsdata.name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Popularity</td>
                    <td>{{ artistsdata.popularity }}%</td>
                </tr>
                <tr>
                    <td>Followers</td>
                    <td>{{ artistsdata.followers.total | number : fractionSize }}</td>
                </tr>
                <tr>
                    <td>Genres</td>
                    <td><span class="genreTag" ng-repeat="genre in artistsdata.genres">{{ genre }}<span ng-if="!$last">,</span></span>
                    </td>
                </tr>
                <tr>
                    <td>Spotify link</td>
                    <td><a href="{{ artistsdata.external_urls.spotify }}">{{ artistsdata.name }}</a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- Including tracks table directive -->
    <div ng-if="top50type == 'toptracks'">
        <tracks-table-box tracks="tracks"></tracks-table-box>
    </div>
</div>