<table>
    <thead>
        <th class="narrow" ng-click="callSortBy('staticIndex' )">No</th>
        <th ng-click="callSortBy('name')">Track</th>
        <th ng-click="callSortBy('artists[0].name')">Artists</th>
        <th class="narrow" ng-click="callSortBy('duration_ms')">Duration</th>
        <th class="narrow" ng-click="callSortBy('popularity')">Popularity</th>
        <th class="narrow" ng-click="callSortBy('tempo')">Tempo</th>
        <th class="narrow" ng-click="callSortBy('key')">Tone</th>
        <th class="narrow" ng-click="callSortBy('energy')">Energy</th>
        <th class="narrow" ng-click="callSortBy('valence')">Valence</th>
        <th class="narrow" ng-click="callSortBy('danceability')">Dance</th>
    </thead>
    <tbody>
        <tr ng-repeat="item in tracks | orderBy:propertyName:reverse">
            <td>{{ item.staticIndex + 1 + offset }}</td>
            <td><a ng-click="showTrackModal(item.id, tracks)" href="">{{ item.name }}</a></td>
            <td>
                <span ng-repeat="artist in item.artists">
					<!--<a ng-click="callGetArtistData({artistid : artist.id})" class="nobreak" href="">{{ artist.name }}<span ng-if="!$last">,</span></a>-->
                <a ng-click="showArtistModal(artist.id)" class="nobreak" href="">{{ artist.name }}<span ng-if="!$last">,</span></a>
                </span>
            </td>
            <td>{{ item.duration_ms | date :'m:ss' }}</td>
            <td>{{ item.popularity }}%</td>
            <td>{{ item.tempo | number:0}}</td>
            <td>{{ item.key | keyFilter }}<span ng-if="item.mode == 0">m</span></td>
            <td>{{ item.energy * 100 | number:0}}%</td>
            <td>{{ item.valence * 100 | number:0 }}%</td>
            <td>{{ item.danceability * 100 | number:0}}%</td>
        </tr>
    </tbody>
</table>

<!-- Track modal -->
<div id="trackModal" class="dataModal">
    <div class="hidePopUp" ng-click="closeModal()">×</div>
    <h2>{{ track.name }}</h2>
    <h3>Album: {{ track.album.name }}</h3>
    <div class="mainColumn">
        <img src="{{ track.album.images[1].url }}" alt="Album Cover" />
        <h3>
            <span ng-repeat="artist in track.artists">{{ artist.name }}<span ng-if="!$last">,</span>
            </span>
        </h3>
        <p>
            <a href="https://open.spotify.com/track/{{ track.id }}" class="playbtn" target="_blank">Play on Spotify</a>
        </p>
    </div>

    <table class="audioFeatures">
        <tbody>
            <tr>
                <td class="tdhead" colspan="2">Track data</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>{{ track.duration_ms | date :'m:ss' }}</td>
            </tr>
            </tr>
            <tr>
                <td>Popularity</td>
                <td>{{ track.popularity }}%</td>
            </tr>
            <tr>
                <td>Tempo (bpm)</td>
                <td>{{ track.tempo | number:0}}</td>
            </tr>
            <tr>
                <td>Key</td>
                <td>{{ track.key | keyFilter }}</td>
            </tr>
            <tr>
                <td>Time signature</td>
                <td>{{ track.time_signature + "/4"}}</td>
            </tr>
            <tr>
                <!--  "   -->
                <td ng-if="track.explicit == true">Foul language</td>
                <td ng-if="track.explicit == false">Explicit</td>
                <td>{{ track.explicit?'Hell Yeah!':'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="audioFeatures">
        <tbody>
            <tr>
                <td class="tdhead" colspan="2">Spotify audio features</td>
            </tr>
            <tr>
                <td>Energy</td>
                <td>{{ track.energy * 100 | number:0}}%</td>
            </tr>
            <tr>
                <td>Valence</td>
                <td>{{ track.valence * 100 | number:0 }}%</td>
            </tr>
            <tr>
                <td>Danceability</td>
                <td>{{ track.danceability * 100 | number:0}}%</td>
            </tr>
            <tr>
                <td>Instrumentalness</td>
                <td> {{ track.instrumentalness * 100 | number:0}}%</td>
            </tr>
            <tr>
                <td>Acousticness</td>
                <td>{{ track.acousticness * 100 | number:0}}%</td>
            </tr>
            <tr>
                <td>Speechiness</td>
                <td>{{ track.speechiness * 100 | number:0}}%</td>
            </tr>
            <tr>
                <td>Liveness</td>
                <td>{{ track.liveness * 100 | number:0}}%</td>
            </tr>
            <tr>
                <td>Loudness </td>
                <td>{{ track.loudness }}</td>
            </tr>
        </tbody>
    </table>


</div>


<!-- Artist modal -->
<div id="artistModal" class="dataModal">
    <div class="hidePopUp" ng-click="closeModal()">×</div>
    <h2>{{ artistsdata.name }}</h2>

    <div class="image"><img src="{{ artistsdata.images[1].url}} " alt="artist photo" /></div>

    <table ng-class="{'show' : toggleData}">
        <thead>
            <tr>
                <th colspan="2">{{ artistsdata.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Popularity</td>
                <td>{{ artistsdata.popularity }}%</td>
            </tr>
            <tr>
                <td>Followers</td>
                <td>{{ artistsdata.followers.total | number : fractionSize }}</td>
            </tr>
            <tr>
                <td>Genres</td>
                <td><span class="genreTag" ng-repeat="genre in artistsdata.genres">{{ genre }}<span ng-if="!$last">,</span></span>
                </td>
            </tr>
            <tr>
                <td>Spotify link</td>
                <td><a href="{{ artistsdata.external_urls.spotify }}">{{ artistsdata.name }}</a></td>
            </tr>
        </tbody>
    </table>
</div>